body {
    font-family: Arial, sans-serif;
    background-color: #f0f0f0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    background-color: black;
  }
  
  .login-container {
    background-color: #ece5e5;
    padding: 100px;
    border-radius: 1px;
    box-shadow: 0 0 100px rgba(0, 0, 0, 0.1);
  }
  
  .form-group {
    margin-bottom: 10px;
  }
  
  label {
    display: block;
    font-weight: bold;
  }
  
  input {
    width: 100%;
    padding: 8px;
    border: 1px solid #ccc;
    border-radius: 3px;
  }
  
  button {
    padding: 10px 20px;
    background-color: #46ce93;
    color: #fff;
    border: none;
    border-radius: 3px;
    cursor: pointer;
    display: block;
    margin: 0 auto; 
  }
  
  
  .error-message {
    color: red;
    font-size: 14px;
    margin-top: 10px;
  }
  
  